{% extends 'base.html.twig' %}

{% block title %}Image{% endblock %}

{% block body %}
    <main class="m-auto p-auto text-center">
        <span class="container">
            <input type="text" id="url">
            <button class="btn btn-primary" id="go">Go</button>
        </span>
        <table class="table table-striped table-bordered text-center">
            <tbody id="images">
            </tbody>
        </table>
    </main>
    <script>
        document.getElementById('go').addEventListener('click', async () => {
            await updatePersons("{{ path('app_search_image') }}");
        });

        async function updatePersons(url)
        {
            let parameters = new Map().set('url', document.getElementById('url').value);
            await fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json;charset=utf-8'
                },
                body: JSON.stringify(Array.from(parameters.entries()))
            })
                .then(response => response.text())
                .then(response => document.getElementById('images').innerHTML = response);
        }
    </script>
    {% endblock %}
